.main-container {
  display:flex;
  flex-direction: column;
  flex: 1 1 80%;
}


.product-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-container > .product-card {
  flex: 0 0 30%; 
}