.product-card {
  border-radius: 7px;
  background: #fff;
  margin: 1% 1%;
}
.product-card > * {
  margin:0 auto;
  width:90%;
}
.product-card img {
  display: block;
  height: 50vh;
  object-fit: contain;
}
